@{
  Layout = "_Layout";
}

<h1> Stylist!</h1>

<a href='./Stylists/Index'><button type="button">See All Stylists</button></a><br>
<br>
<a href='./Stylists/Create'><button type="button">Add A Stylist</button></a><br>
<br>
<a href="./Clients/Index"><button type="button">See All Clients</button></a>
<br><br>