@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Are you sure you want to delete this?</h3>
<br>
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <br>
  <button><input type="submit" value="Delete" /></button>
}
<br><br>
<button>@Html.ActionLink("Back to Client", "Index")</button>